<div class="page-nav-toggle" id="navToggle" aria-label="Toggle navigation" role="button" tabindex="0">
  <span class="page-nav-toggle__top"></span>
  <span class="page-nav-toggle__middle"></span>
  <span class="page-nav-toggle__bottom"></span>
</div>
<div class="page-nav" id="page-nav">
  <nav aria-label="Main navigation">
    <ul>
      {{#each site.nav}}
      <li><a href="{{this.href}}" id="{{this.id}}Anchor" class="page-nav__link">{{this.label}}</a></li>
      {{/each}}
      <li><a href="mailto:{{site.email}}" target="_blank" class="page-nav__link">Email Me</a></li>
      <li><a href="{{site.resumeUrl}}" target="_blank" class="page-nav__link">Download Resume</a></li>
    </ul>
  </nav>
</div>
